* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    height: 80px;
    margin-right: 20px;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #e65b5b;
    border-radius: 10px;
    box-shadow: #22a3d6;
    padding: 20px;
    text-align: center;
}

.card h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
}

.card p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
